RewriteEngine On

RewriteRule ^websocket/connect$ /assets/php/ws_connect.php [L]
RewriteRule ^websocket/ping$ /assets/php/ws_ping.php [L]
RewriteRule ^websocket/uptime$ /assets/php/ws_uptime.php [L]
RewriteRule ^websocket/send$ /assets/php/ws_send.php [L]
RewriteRule ^websocket/receive$ /assets/php/ws_receive.php [L]