@import url("/assets/fonts/Roboto.css");
:root {
    --c-dark1: #1c1b22;
    --c-dark2: #2b2a33;
    --c-dark3: #42414d;
    --c-dark4: #4e4d5b;
    --c-dark5: #373641;
    --c-green: #04D64F;
    --c-red: #FF442A;
    --c-orange: #F19128;
    --c-unknown: #949494;
}

body {
    margin: 0;
    color: white;
}

* {
    box-sizing: border-box;
}